.display {
  max-width: 100%;
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid #636363;
  margin-bottom: 8px;
  background-color: #919191;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@media (min-width: 780px) {
  .display {
    height: 100px;
  }
}

.currentButton {
  color: #fff;
  text-align: left;
  height: 16px;
}

.mainDisplay {
  font-size: 3.5em;
  text-align: right;
  color: #fff;
  overflow-x: scroll;  
}
